html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.cursom-card .card {
    flex-direction: row;
    align-items: center;
}

.cursom-card .card-title {
    font-weight: bold;
}

.cursom-card .card img {
    width: 30%;
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
}

@media only screen and (max-width: 768px) {
    a {
        display: none;
    }

    .cursom-card .card-body {
        padding: 0.5em 1.2em;
    }

        .card-body .card-text {
            margin: 0;
        }

    .cursom-card .card img {
        width: 50%;
    }
}

@media only screen and (max-width: 1200px) {
    .cursom-card .card img {
        width: 40%;
    }
}